
body {
  margin: 0;
  padding: 0;
  background-color: #252a30;
  color: white;
}

html {
  scroll-padding-top: 1.5rem;
  scroll-behavior: smooth;
}

/* NAVBAR SCROLLAUS */
#mainNav {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

#mainNav.scrolled {
  background-color: #252a30; 
}

#mainNav .nav-link {
  color: #fff; 
  transition: all 0.3s ease;
}

#mainNav .nav-link:hover,
#mainNav .nav-link.active {
  color: #0644a0 !important;   
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: #fff;
  transition: color 0.3s ease;
}

#mainNav .navbar-brand:hover {
  color: #0d6efd;
}

/* HAMPURILAINEN */
.navbar-toggler {
  border: none;
  background: transparent !important;
  cursor: pointer;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler .icon-bar {
  height: 2px;
  width: 26px;
  background-color: white;
  border-radius: 1px;
  display: block;
  margin-top: 5px;
  transition: all 0.2s;
}

/* X-animaatio */
.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.logo {
  height:20px;
  width: auto;
  padding: 0 12px;
}


header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #252a30;
  background: radial-gradient(circle, #2f353d 0%, #1f2326 100%); 
  
}

section {
  min-height: auto;
  padding: 50px 12px;
}


/*TIEDOT*/
/*Oma kuva*/

#tiedot {
  background-color:#1f2326;
}
.myimg {
    width: 50%; 
    height: auto;
}

@media (max-width: 768px) {
  .myimg {
    width: 70%;
  }
}

.signature {
  height:25px;
  width: auto;
}



/* OSAAMINEN */

#taidot h2{
  margin-bottom: 40px;
  text-align: center;
}

/* Korttien ulkoasu*/
.skill-card {
  padding:24px;
  background-color:#1f2326;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 100%;             
  text-align: center;       
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skill-icon {
  color: #782385; 
  text-shadow: 0 0 8px #46114e, 0 0 15px #46114e;
  font-size: 28px;
  margin-bottom: 10px;
}

/* Otsikko */
.skill-title {
  font-weight: bold;
  margin-bottom: 6px;
  color:white;
}

/* Teksti */
.skill-text {
  line-height: 1.4;
  color:white;
  margin-bottom: 0;
}


/* PROJEKTIT */

#projektit {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
  background-color: #1b1d20 ;
}

#projektit .container-fluid{
  width:85%;
}

.swiper-container {
  position: relative;
  overflow: visible;
  margin-top:20px;
}

.swiper-container .overlay {
  width: 110%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #1b1d20 0%,
    transparent 45%,
    transparent 55%,
    #1b1d20 100%
  );
  position: absolute;
  left: -5%; 
  top: 0;
  z-index: 10;
  pointer-events: none;
}

@media (max-width: 576px) {
  .swiper-container .overlay {
    background: linear-gradient(
    90deg,
    #1b1d20 0%,
    transparent 15%,
    transparent 85%,
    #1b1d20 100%
  );
  }}

.swiper {
  width: 100%;
  padding: 20px 0 100px 0;
}

.swiper-slide {
  position:relative;
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  filter: brightness(100%);
  transition: filter 0.3s ease;
  overflow: visible;
}

.swiper-slide img {
  height: 100%;
  object-fit: contain;
  display: block;
}

.swiper-slide-active {
  filter: brightness(100%);
  position: relative;
}

.swiper-slide span {
  position: absolute;
  display: flex;
  justify-content: center;   /* keskelle vaakasuunnassa */
  align-items: flex-end; 
  width:340px;
  bottom: -45px;   
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 12px;
  color: white;
  opacity: 0;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
}

.swiper-slide-active span {
  cursor: pointer;
  pointer-events: auto; 
  animation: fadeIn 1s forwards;
}

    @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
#projektit .swiper-slide-active:hover span {
  color:red;
}
  

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #ffffff;
}

/* Navigointinuolet */
.swiper-button-prev,
.swiper-button-next {
  background: rgb(45, 45, 45);
  border-radius: 50%;
  top: 45%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
  color:white;
  z-index: 20;
}

.swiper-button-prev{
  left: -30px;
}
.swiper-button-next{
  right: -30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  #projektit .container-fluid{
    width: 100%;
    padding:0;
  }
}

/* YHTEYSTIEDOT */

#yhteystiedot {
  padding-bottom: 30px;
}

.yhteystiedot-teksti {
  flex-direction: column;
  display: flex;
  justify-content: center;           
}

.yhteystiedot-teksti h2{
  margin-bottom: 20px;
}

.yhteystiedot-iconit {
  display: flex;
  justify-content: center;      /* ikonit keskelle vaakasuunnassa */
  align-items: center; 
  gap: 50px;                    /* väliä ikonien väliin */
}

@media (max-width: 480px) {
    .yhteystiedot-iconit {
        margin-top: 30px; /* suurempi marginaali pienemmällä näytöllä */
    }
}

@media (max-width: 480px) {
    #yhteystiedot {
        padding-bottom: 50px; /* suurempi marginaali pienemmällä näytöllä */
    }
}

.yhteystiedot-iconit i {
  font-size: 38px;            
  color: #782385;             
  text-shadow: 0 0 8px #46114e, 0 0 15px #46114e;
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
}

@media (max-width: 768px) {
    .yhteystiedot-iconit i {
        font-size: 30px;  
    }
}

/* Hover-efekti */
.yhteystiedot-iconit i:hover {
  color: #a13eb2;
}


/* FOOTER */

.footer {
  position: relative;
  width: 100%;
  text-align: center;
}

/* Kuva venyy koko leveydelle, korkeus skaalautuu automaattisesti */
.footer-bg {
  display: block;
  width: 100%;
  height: auto;
}

/* Teksti keskelle kuvan päälle */
.footer-content {
  position: absolute;
  top: 50%;               /* pystysuunnassa keskelle */
  left: 50%;              /* vaakasuunnassa keskelle */
  transform: translate(-50%, -50%);
  color: black;           /* kontrasti kuvan päälle */
  text-align: center;
  width: 100%;   /* voit muokata fonttikokoa */
}

@media (max-width: 768px) {
  .footer-content p {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .footer-content p {
    font-size: 12px; 
  }
}


/* MODAALI */ 

.modal-dialog {
  display: flex;
  align-items: center;   /* keskittää pystysuunnassa */
  justify-content: center; /* keskittää vaakasuunnassa */
}


.modal-content {
  background-color: #1f2326;
  color: white;
}

.modal-header {
  border:none;
  padding-bottom: 0px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body h4{
  margin-bottom:20px;
  margin-top:10px;
}

.btn-close:focus,
.btn-close:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.modal-button-prev{
  left: -15px;
}
.modal-button-next{
  right: -15px;
}

.modal-swiper {
 width: 100%;
 padding: 20px 0 40px 0;
 opacity: 0;
 transition: opacity 0.4s ease;
}

.modal-swiper.swiper-ready {
  opacity: 1;
}

.modal-swiper .swiper-slide {
  height: 300px;
  box-shadow: none;
  background:none;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

.modal-swiper .swiper-slide img {
  max-height:100%;
  width: 100%;
  object-fit: contain;
}

/* Isommat kuvat swiper*/
.big-swiper .swiper-slide {
  height: 450px;
  box-shadow: none;
  background: #1f2326;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

.big-swiper .swiper-slide img {
  max-height:100%;
  width: 100%;
  object-fit: contain;
}

/* Vertikaali swiper */
.vertical-swiper .swiper-slide {
  width: 240px;
  height: 380px;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

.vertical-swiper .swiper-slide img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

/* Tee modal-lg leveämmäksi tableteilla */
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-dialog.modal-lg {
    max-width: 90%; /* esim. melkein koko leveys */
    margin: auto;   /* keskitys */
  }
}

@media (max-width: 768px) {
    .big-swiper .swiper-slide {
      height: 250px;
    }
  }

@media (max-width: 768px) {
    .vertical-swiper .swiper-slide {
      width: 220px;
      height: 340px;
    }
  }

/* Vaakasuora swiper*/
@media (max-width: 768px) {
    .horizontal-swiper .swiper-slide {
      height: 180px;
    }
  }

/*video*/
.memo-video-container {
  width: 300px;
  height: 300px;
}

.video-container {
  width: 230px;
  height: 380px; /* ottaa koko sliden korkeuden */
}

.video-container video,
.memo-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* sama kuin kuvilla */
}

@media (max-width: 768px) {
    .video-container {
      width: 220px;
      height: 340px;
    }
  }















/* #252a30 vaalea*/
/* #1f2326 tumma*/
/*python -m http.server*/