
body {
  margin: 0;
  padding: 0;
  background-color: #252a30;
  color: white;
}

html {
  scroll-padding-top: 1.5rem;
  scroll-behavior: smooth;
}

#mainNav {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

#mainNav.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Esimerkki: tumma läpinäkyvä tausta */
}

/* Hamppari */
.navbar-toggler {
  border: none;
  background: transparent !important;
  cursor: pointer;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler .icon-bar {
  height: 2px;
  width: 26px;
  background-color: white;
  border-radius: 1px;
  display: block;
  margin-top: 5px;
  transition: all 0.2s;
}

/* X-animaatio */
.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}




header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(56,68,75);
  background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%); 
  
}

footer {
  background-color: #1f2326;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*TIEDOT*/
/*Oma kuva*/
.myimg {
    width: 80%; 
    height: auto; 
}

/*OSAAMINEN*/
/* Linkkien tyylit */
.content-switcher {
    cursor: pointer;
    margin: 0 10px;
    color: white; /* Tumma teksti */
    display: inline-block;
}

.content-switcher:hover {
    color:aqua
}

.content-switcher.active {

    color: aqua; /* AKTIIVISEN LINKIN TEKSTIVÄRI */
    font-weight: bold;
}

/* Sisältökontainerit */
.content-display {
    display: none;
    padding: 25px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.content-display.active-display {
    display: block;
}

/*PROJEKTIT*/

#projektit {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#projektit .container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

    .swiper-container {
      position: relative;
    }

    .swiper {
      width: 100%;
      padding: 20px 0 100px 0;
    }

    .swiper-slide {
      position:relative;
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1f2326;
      filter: brightness(50%);
      transition: filter 0.3s ease;
      overflow: visible;
    }

    .swiper-slide img {
      height: 100%;
      object-fit: contain;
      display: block;
    }

    .swiper-slide-active {
      filter: brightness(100%);
      position: relative;
    }

    .swiper-slide span {
      position: absolute;
      width:100%;
      bottom: -50px;   /* siirtää ulos sliden alareunasta */
      left: 50%;
      transform: translateX(-50%);
      padding: 6px 12px;
      color: white;
      text-align: center;
      opacity: 0;
      pointer-events: none;
    }
    /* Näytä span vain aktiivisen sliden sisällä */
    .swiper-slide-active span {

      pointer-events: auto; /* Mahdollista klikkaukset, kun näkyvissä */
      animation: fadeIn 1s forwards;
    }

     @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    #projektit .swiper-slide-active:hover span {
      color:red;
    }
    

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
      background: #ffffff;
  }
    /* Navigointinuolet */
    .swiper-button-prev,
    .swiper-button-next {
      background: rgb(45, 45, 45);
      border-radius: 50%;
      top: 45%;
      width: 50px;
      height: 50px;
      box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
      color:white;
    }

    .swiper-button-prev{
      left: -30px;
    }
    .swiper-button-next{
      right: -30px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 1.4rem;
    }

    @media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
    #projektit .container{
      margin: 0;
      padding: 0;
    }
  }

/* MODAALI*/ 

.modal-content {
  background-color: #1f2326;
  color: white;
}

.modal-header {
  border:none;
  padding-bottom: 0px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body h4{
  margin-bottom:20px;
  margin-top:10px;
}

.btn-close:focus,
.btn-close:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.modal-button-prev{
  left: -15px;
}
.modal-button-next{
  right: -15px;
}

.modal-swiper {
 width: 100%;
 padding: 20px 0 40px 0;
 opacity: 0;
 transition: opacity 0.4s ease;
}

.modal-swiper.swiper-ready {
  opacity: 1;
}

.modal-swiper .swiper-slide {
  height: 300px;
  box-shadow: none;
  background:none;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

.modal-swiper .swiper-slide img {
  max-height:100%;
  width: 100%;
  object-fit: contain;
}

/* Isommat kuvat swiper*/
.big-swiper .swiper-slide {
  height: 450px;
  box-shadow: none;
  background: #1f2326;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
    .big-swiper .swiper-slide {
      height: 250px;
    }
  }

.big-swiper .swiper-slide img {
  max-height:100%;
  width: 100%;
  object-fit: contain;
}

/* Vertikaali swiper */
.vertical-swiper .swiper-slide {
  width: 240px;
  height: 380px;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
    .vertical-swiper .swiper-slide {
      width: 220px;
      height: 340px;
    }
  }

.vertical-swiper .swiper-slide img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

/* Vaakasuora swiper*/
@media (max-width: 768px) {
    .horizontal-swiper .swiper-slide {
      height: 180px;
    }
  }

/* Tee modal-lg leveämmäksi tableteilla */
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-dialog.modal-lg {
    max-width: 90%; /* esim. melkein koko leveys */
    margin: auto;   /* keskitys */
  }
}

/*video*/
.memo-video-container {
  width: 300px;
  height: 300px;
}

.video-container {
  width: 230px;
  height: 380px; /* ottaa koko sliden korkeuden */
}

@media (max-width: 768px) {
    .video-container {
      width: 220px;
      height: 340px;
    }
  }

.video-container video {
  width: 100%;
  height: 100%;
  object-fit:contain; /* sama kuin kuvilla */
}

.memo-video-container video {
  width: 100%;
  height: 100%;
  object-fit:contain; /* sama kuin kuvilla */
}


















/* #252a30 vaalea*/
/* #1f2326 tumma*/
/*python -m http.server*/