:root {
  --color-iso-otsikko: #F5F5F5;
  --color-pieni-otsikko:#8bc1b8;
  --color-p-teksti: #D0D0D0;
  --color-modal-teksti: #8bc1b8;
  --otsikko-varjo: -4px 3px 8px rgb(0, 0, 0, 0.7);
  --color-elementti-varjo: rgba(0, 0, 0, 0.4);
  --color-icon: #4f9286;
  --color-icon-hover: #7ab8ac; 
  --color-icon-gray: #D0D0D0;
  --color-icon-nuolet: #474B50; 
  --color-hover-nuolet: #D0D0D0;
  --color-tausta-primary: #1B1D20;
  --color-tausta-secondary: #3e5674;
  --color-tausta-tertiary: #202328;
}

html {
  scroll-padding-top: 30px;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color:  var(--color-p-teksti);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

h1, h2, h4 {
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  color:  var(--color-iso-otsikko);
  letter-spacing: 0.3px;
}

h1 {
  font-size: calc(1.75rem + 1vw);
  font-weight: 700;
}

h2 {
  font-size: calc(1.4rem + 0.9vw); 
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  color: var(--color-p-teksti);
}

.pieni-otsikko {
  margin-bottom: 0px;
  color:var(--color-pieni-otsikko);
}


.iso-otsikko{
  margin-bottom: 25px;
  color:var(--color-iso-otsikko);
  text-shadow: var(--otsikko-varjo);
}

.highlight-text {
  margin-bottom: 60px;
  color: var(--color-p-teksti);
}

section {
  padding: 80px 120px;
}

i {
  font-size: 30px;
  color: var( --color-icon);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.804);
}

#yhteystiedot i:hover,
.modal-body i:hover {
  color:var(--color-icon-hover);
  cursor: pointer;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.804);
  transition: transform 0.3s, color 0.3s;
}



/* NAVBAR */

#mainNav {
  transition: background-color 0.5s ease;
  background-color: transparent;
}

#mainNav.scrolled {
  background-color: var(--color-tausta-primary); 
}

#mainNav .nav-link {
  color: #c3c3c3;
}

#mainNav .nav-link:hover {
  color: 	#98b3af;
}

#mainNav .nav-link.active {
  color: #8bc1b8;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

.nav-item {
    text-align: center;
  }

/* Hamppari */
.navbar-toggler {
  border: none;
  background: transparent !important;
  cursor: pointer;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler .icon-bar {
  height: 2px;
  width: 26px;
  background-color: var(--color-icon-gray);
  border-radius: 1px;
  display: block;
  margin-top: 5px;
  transition: all 0.2s;
}

/* X-animaatio */
.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.logo {
  height:28px;
  width: auto;
  padding: 0 12px;
}

/* HEADER */
header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-iso-otsikko); 
  overflow: hidden; 
  position: relative;
}

/* Nuoli*/
#scroll-arrow i {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-icon-nuolet);
  text-shadow: none;
  animation: moveDown 3s linear infinite;
  cursor: pointer;
}

/* Nuolen liike*/
@keyframes moveDown {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  30% {
    transform: translate(-50%, 5px);
    opacity: 0.5;
  }
  60% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
}


/*TIEDOT*/

#tiedot {
background-color: var(--color-tausta-primary); 
background-repeat: no-repeat; 
background-size: 50% 100%, 50% 100%;
background-position: top left,  bottom right;
background-image:
  radial-gradient(at -60% 35%, var(--color-tausta-secondary) 0%, var(--color-tausta-primary) 45%),
  radial-gradient(at 160% 65%, var(--color-tausta-secondary) 0%, var(--color-tausta-primary) 45%);
}

.tiedot-kuva {
  display: flex;
  align-items: center;
}

.myimg {
  width: 90%; 
  height: auto;
  margin-bottom: 20px; 
  border-radius: 50%;
  box-shadow: -20px 4px 20px var(--color-elementti-varjo);
}

.signature {
  display: block; 
  height:24px;
  width: auto;
  margin-top: 40px;
}

.location {
  display: inline-flex;      
  align-items: center;       
  gap: 6px;                  
  color:var(--color-pieni-otsikko);               
  font-size: 16px;               
}

.location i {
  color: var(--color-pieni-otsikko);            
  font-size: 14px;
  text-shadow: none;
}




/* OSAAMINEN */

#taidot {
 background: var(--color-tausta-primary);
 text-align: center;
}

#taidot .otsikko-toka {
  margin-bottom: 10px;
}

/* Kortit */
.taidot-card {
  position: relative;
  padding:24px;
  background: var(--color-tausta-primary);
  background: linear-gradient(to bottom, #26303c 0%, var(--color-tausta-primary) 100%);
  border-radius: 8px;
  /*box-shadow: var(--color-elementti-varjo) 0px 20px 15px -15px;*/
  height: 100%;             
  text-align: center;       
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}


#taidot i {
  margin-bottom: 10px;
}

.taidot-title {
  font-weight:500;
  margin-bottom: 6px;
  color:var(--color-iso-otsikko);
}

.taidot-text {

  color:var(--color-p-teksti);
  margin-bottom: 0;
}


/* PROJEKTIT */

#projektit {
  position: relative;          
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 80px 0;
  background: var(--color-tausta-primary);
  background: radial-gradient(circle, var(--color-tausta-secondary) 0%, var(--color-tausta-primary) 45%);
}

#projektit .container-fluid {
  width: 85%;
  margin: 0 auto;
}

#projektit .otsikko-eka,
#projektit .otsikko-toka,
#projektit .highlight-text {
  position: relative;
  z-index: 30;
}

#projektit .highlight-text {
  margin-bottom: 10px;
}

/* Swiper karuselli*/
.swiper-container {
  position: relative;
  overflow: visible;
  margin-top: 20px;
}

.swiper {
  width: 100%;
  padding: 20px 0 100px 0;
}

.swiper-slide {
  position: relative;
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  border-radius: 8px;
  filter: brightness(0.4);
  opacity: 1; 
  transition: transform 0.6s ease, opacity 0.6s ease, filter 0.6s ease;
}

/* Toiseksi reunimmaiset slidet */
.swiper-slide.level-1 {
  filter: brightness(0.7);

}
/* Kolmanneksi reunimmaiset slidet  */
.swiper-slide.level-2 {
  filter: brightness(0.5);
}

/* Neljänneksi reunimmaiset slidet */
.swiper-slide.level-3 {
  opacity: 0;
}

/* Keskimmäinen slide */
.swiper-slide-active {
  filter: brightness(1);
  opacity: 1;
  
}

.swiper-slide img {
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  box-shadow: var(--color-elementti-varjo) 0px 20px 15px -15px;
}

/* Sliden teksti */
.swiper-slide span {
  position: absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 300px;
  bottom: -58px;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px 0 12px;
  color: var(--color-p-teksti);
  opacity: 0;
  pointer-events: none;
  font-size: 20px;
}

.swiper-slide-active span {
  cursor: pointer;
  pointer-events: auto;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#projektit .swiper-slide-active span:hover {
  color: var(--color-hover);
  font-weight: 500;
}

/* Pallot */
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--color-icon-gray);
}

/* Nuolet */
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-icon-nuolet);           
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--color-hover-nuolet);              
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px;
  font-weight: bold;         
}

.swiper-button-prev {
  left: -40px;
}
.swiper-button-next {
  right: -40px;
}



/* YHTEYSTIEDOT */

#yhteystiedot {
  padding-bottom: 30px;
  background: linear-gradient(180deg, var(--color-tausta-primary), #252a30);
}

.yhteystiedot-teksti {
  flex-direction: column;
  display: flex;       
}

.yhteystiedot-iconit {
  display: flex;              
  justify-content: flex-end;  
  align-items: center;        
  gap: 50px;                  
  padding: 10px;            
}


/* FOOTER */

footer {
  position: relative;  
  width: 100%;
  text-align: center;
}

footer img {
  display: block;
  width: 100%;
  height: auto;
}

footer p {
  position: absolute;       
  top: 40%;                 
  left: 50%;                
  transform: translate(-50%, -50%);  
  color: black;
  margin: 0;                
}


/* MODAALI */ 

.modal-dialog {
  display: flex;
  align-items: center;   
  justify-content: center; 
}

.modal-content {
  background-color: var(--color-tausta-tertiary);
  color: var(--color-p-teksti);
}

.btn-close {
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e7e7e7' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  opacity: 1; 
}

.modal-header {
  border:none;
  padding-bottom: 0px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Otsikko */
.modal-title{
  margin-bottom:20px;
  color: var(--color-iso-otsikko);
  display: inline-block;
  text-shadow: var(--otsikko-varjo);
}

/* Otsikot joissa iconi */
.modal-title-icon {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom:20px;

  
}

/* Otsikot joissa iconi */
.modal-title-icon h4 {
  margin: 0;
  display: inline-block;
  color: var(--color-iso-otsikko);
  text-shadow: var(--otsikko-varjo);
}

.modal-teknologiat {
  color: var(--color-modal-teksti);
}

/* X nappi */
.btn-close:focus,
.btn-close:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* Modaalin swiper karuselli */
.modal-swiper {
 width: 100%;
 padding: 0 0 40px 0;
 opacity: 0;
 transition: opacity 0.4s ease; /* Näkyyvyyten pieni viive, että kaikki kerkeää latautua*/
}

.modal-swiper.swiper-ready {
  opacity: 1;
}

.modal-swiper .swiper-slide {
  height: 300px;
  background:none;
  display: flex;           
  justify-content: center;
  align-items: center;
  filter: brightness(0.5);
  transition: transform 0.6s ease, filter 0.6s ease;
  margin-bottom: 10px;
}

/* Keskimmäinen slide kirkas*/
.modal-swiper .swiper-slide-active {
  filter: brightness(1);
}

.modal-swiper .swiper-slide img {
  height:100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: var(--color-elementti-varjo) 0px 20px 15px -15px;
}

/* Isommat kuvat swiper*/
.big-swiper .swiper-slide {
  height: 450px;
}

/* Otsikon ja swiperin väli*/
.horizontal-swiper {
  margin-bottom: 30px;
}

/* Vertikaali swiper */
.vertical-swiper .swiper-slide {
  width: 240px;
  height: 380px;
}

/* Piilotetaan yksittäin näkyvistä slideista takimmaiset koko eron vuoksi*/
.single-slide .swiper-slide {
 opacity:0 !important;
}

.single-slide .swiper-slide-active {
  opacity:1 !important;
}

/* Nuolet */
.modal-swiper-button-prev{
  left:-5px;
}
.modal-swiper-button-next{
  right:-5px;
}


/*video*/
.memo-video-container {
  width: 300px;
  height: 300px;
}

.video-container {
  width: 230px;
  height: 380px; 
}

.video-container video,
.memo-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}



/* RESPONSIIVIVUUS */

/* Yleiset*/

@media (max-width: 1024px) {
  section {
    padding: 65px 60px; 
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 40px; 
  }
}

@media (max-width: 640px) {
  section {
    padding: 50px 10px; 
  }
}

@media (max-width: 768px) {
  i {
    font-size: 28px;
  }
}

/* Esittely */

@media (max-width: 480px) {
  #tiedot {
    background-size: 100% 50%, 100% 50%;
  }
}

@media (max-width: 1024px) {
  .tiedot-kuva {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .myimg {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .myimg {
    width: 70%;
  }
}

/* Projektit */

@media (max-width: 1024px) {
  #projektit {
    background: radial-gradient(circle, var(--color-tausta-secondary) 0%, var(--color-tausta-primary) 55%);
  }
}

@media (max-width: 768px) {
  #projektit {
    background: radial-gradient(circle, var(--color-tausta-secondary) 0%, var(--color-tausta-primary) 60%);
  }
}

@media (max-width: 480px) {
  #projektit {
    background: radial-gradient(circle, var(--color-tausta-secondary) 0%, var(--color-tausta-primary) 80%);
  }
}

@media (max-width: 1024px) {
  #projektit .container-fluid{
    width: 100%;
    padding:0;
  }
}

/* Swiperin nuolet piilotetaan pienemmillä näytöillä */
@media (max-width: 992px) {
  .swiper-button-prev,
  .swiper-button-next {
      visibility: hidden;
  }
}

/* Yhteystiedot */

@media (max-width: 768px) {
  .yhteystiedot-iconit {
    gap: 40px; 
  }
}

@media (max-width: 768px) {
  .yhteystiedot-iconit {
    margin-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 480px) {
    #yhteystiedot {
        padding-bottom: 50px; 
    }
}

/* Footer */

@media (max-width: 768px) {
  footer p {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  footer p {
    font-size: 12px; 
  }
}

/* Modaali */

@media (min-width: 768px) and (max-width: 1024px) {
  .modal-dialog.modal-lg {
    max-width: 90%; 
    margin: auto;   
  }
}

/* Swiperin ja otsikon väli*/
@media (max-width: 480px) {
  .col-md-6 .modal-swiper {
    margin-bottom: 30px;
  }
}

@media (max-width: 991.98px) {
  .col-md-12 .modal-swiper {
    margin-bottom: 30px;
  }
}

/* Vaaka suuntaset kuvat swiperit */
@media (max-width:1024px) {
  .horizontal-swiper .swiper-slide {
    height:auto;
  }
}

@media (max-width:1024px) {
  .horizontal-swiper .swiper-slide img {
    max-height:300px;
  }
}

@media (max-width:468px) {
  .horizontal-swiper .swiper-slide img {
    max-height:200px;}
}

@media (max-width: 768px) {
  .vertical-swiper .swiper-slide {
    width: 220px;
    height: 340px;
  }
}

@media (max-width: 768px) {
  .video-container {
    width: 220px;
    height: 340px;
  }
}




/* #252a30 vaalea*/
/* #1f2326 tumma  #1B1D20*/
/*python -m http.server*/