
body {
  margin: 0;
  padding: 0;
  background-color: #252a30;
  color: white;
}

html {
  scroll-padding-top: 1.5rem;
  scroll-behavior: smooth;
}

#mainNav {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

#mainNav.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Esimerkki: tumma läpinäkyvä tausta */
}

/* Hamppari */
.navbar-toggler {
  border: none;
  background: transparent !important;
  cursor: pointer;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler .icon-bar {
  height: 2px;
  width: 26px;
  background-color: white;
  border-radius: 1px;
  display: block;
  margin-top: 5px;
  transition: all 0.2s;
}

/* X-animaatio */
.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}




header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(56,68,75);
  background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%); 
  
}

footer {
  background-color: #1f2326;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*TIEDOT*/
/*Oma kuva*/
.myimg {
    width: 100%; 
    height: auto; 
}

/*OSAAMINEN*/
/* Linkkien tyylit */
.content-switcher {
    cursor: pointer;
    margin: 0 10px;
    color: white; /* Tumma teksti */
    display: inline-block;
}

.content-switcher:hover {
    color:aqua
}

.content-switcher.active {

    color: aqua; /* AKTIIVISEN LINKIN TEKSTIVÄRI */
    font-weight: bold;
}

/* Sisältökontainerit */
.content-display {
    display: none;
    padding: 25px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.content-display.active-display {
    display: block;
}

/*PROJEKTIT*/

#projektit {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#projektit .container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

    .swiper-container {
      position: relative;
    }

    .swiper {
      width: 100%;
      padding: 20px 0 50px 0;
    }

    .swiper-slide {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      box-shadow: -1px 5px 15px #0000001f;
      background-color: #1f2326;
      filter: brightness(50%);
      transition: filter 0.3s ease;
    }

    .swiper-slide img {

      height: 100%;
      object-fit: contain;
      border-radius: 12px;
      
    }

    .swiper-slide-active {
      filter: brightness(100%);
    }

    .swiper-slide span {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 8px 15px;
      border-radius: 0 0 12px 12px;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
      opacity: 0; /* Käytä opacitya pehmeään siirtymään */
      transition: opacity 0.3s ease; /* Animaatio näkymiselle/piilottamiselle */
      pointer-events: none; /* Estää klikkaukset, kun piilossa. Poista jos haluat klikattavan aina. */
    }

    /* Näytä span vain aktiivisen sliden sisällä */
    .swiper-slide-active span {
      opacity: 1; /* Tee näkyväksi */
      pointer-events: auto; /* Mahdollista klikkaukset, kun näkyvissä */
    }
    
    #projektit .swiper-slide-active:hover span {
      color:red;
    }
    

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
      background: #ffffff;
  }
    /* Navigointinuolet */
    .swiper-button-prev,
    .swiper-button-next {
      background: rgb(45, 45, 45);
      border-radius: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
      color:white;
    }

    .swiper-button-prev{
      left: -30px;
    }
    .swiper-button-next{
      right: -30px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 1.4rem;
    }

    @media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
    #projektit .container{
      margin: 0;
      padding: 0;
    }
  }

/* MODAALI*/ 

.modal-content {
  background-color: #1f2326;
}
.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.modal-header {
  border:none;
  padding-bottom: 0px;
}

.btn-close:focus,
.btn-close:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.modal-button-prev{
  left: -15px;
}
.modal-button-next{
  right: -15px;
}

.modal-swiper {
 width: 100%;
 opacity: 0;
  transition: opacity 0.4s ease;
}

.modal-swiper.swiper-ready {
  opacity: 1;
}

.modal-swiper .swiper-slide {
  height: 400px;
  box-shadow: none;
  background: #1f2326;
  border-radius: 12px;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

.modal-swiper .swiper-slide img {
  max-height:100%;
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

/* Vertikaali */
.vertical-swiper .swiper-slide {
  width: 240px;
  height: 380px;
  display: flex;           /* keskittää sisältö pystysuunnassa */
  justify-content: center;
  align-items: center;
}

.vertical-swiper .swiper-slide img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
    .vertical-swiper .swiper-slide {
      width: 220px;
      height: 340px;
    }
  }









/* #252a30 vaalea*/
/* #1f2326 tumma*/
/*python -m http.server*/